.page {
  display: flex;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2rem 100px;

    .top_section {
      width: 100%;

      .title {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0.2em;
      }

      .subtitle {
        font-size: 0.9rem;
        font-weight: 500;
        color: var(--grey);
      }
    }

    .bottom_section {
      .caption {
        font-size: 0.9rem;
        font-weight: 500;
        color: var(--grey);
        margin-top: 1rem;

        a {
          color: var(--accent);
          text-transform: uppercase;
          letter-spacing: 1px;
          text-decoration: none;
          font-weight: 600;
          transition: 100ms ease-in;
        }

        a:hover {
          color: var(--dark-accent);
        }
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 2rem;

      .field {
        position: relative;
        width: 100%;
        height: 3.5rem;

        &:not(:last-of-type) {
          margin-bottom: 0.75rem;
        }

        input {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          font-size: 1rem;
          font-weight: 500;
          background: white;
          padding: 0.75rem 1rem 0;
          border-radius: 5px;

          &[name="password"] {
            padding-right: 4.5rem;
          }

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px white inset !important;
          }
        }

        label {
          position: absolute;
          top: 50%;
          left: 1rem;
          transform: translateY(-50%);
          pointer-events: none;
          cursor: text;
          color: var(--grey);
          font-size: 1rem;
          font-weight: 500;
          transition: top 100ms ease-in, transform 100ms ease-in,
            font-size 100ms ease-in;
          user-select: none;
        }

        input:focus ~ label,
        input:not(:placeholder-shown):not(:focus) ~ label {
          top: 0.5rem;
          transform: unset;
          font-size: 0.6rem;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background: var(--grey);
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          transition: height 100ms 300ms ease-in,
            border-radius 100ms 300ms ease-in;
        }

        &.valid::after {
          background: var(--valid);
        }

        &.valid label {
          color: var(--valid);
        }

        &.error::after {
          background: var(--error);
        }

        &.error label {
          color: var(--error);
        }

        &.warning::after {
          background: var(--warning);
        }

        &.warning label {
          color: var(--warning);
        }

        .show_button,
        .info_button {
          cursor: pointer;
          color: var(--grey);
          font-size: 1.1rem;
          position: absolute;
          top: 50%;
          right: 1rem;
          z-index: 10;
          transform: translateY(-50%);
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 100ms 300ms ease-in;
        }

        .info_button {
          right: 2.75rem;
        }

        .info_text {
          position: absolute;
          top: 50%;
          left: 1rem;
          right: 5rem;
          z-index: 10;
          transform: translateY(-50%);
          font-size: 0.6rem;
          font-weight: 500;
          color: var(--background);
          opacity: 0;
          user-select: none;
          visibility: hidden;
          transition: 100ms ease-in;
        }

        &.tooltip_active {
          &::after {
            height: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            transition: height 100ms ease-in, border-radius 100ms ease-in;
          }

          .show_button {
            opacity: 0.5;
            cursor: not-allowed;
          }

          .show_button,
          .info_button {
            color: var(--background);
            transition: 100ms ease-in;
          }

          .info_text {
            opacity: 1;
            visibility: visible;
            transition: 100ms 300ms ease-in;
          }
        }
      }

      .checkbox {
        display: block;
        position: relative;
        padding-left: 25px;
        margin-top: 1rem;
        cursor: pointer;
        font-size: 0.9rem;
        font-weight: 500;
        color: var(--grey);
        width: fit-content;

        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }

        .checkmark {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          height: 15px;
          width: 15px;
          border-radius: 50%;
          background-color: var(--grey);

          &::after {
            content: "";
            position: absolute;
            display: none;
            left: 5.5px;
            top: 3.2px;
            width: 4px;
            height: 7px;
            border: solid white;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }

        input:checked ~ .checkmark {
          background-color: var(--valid);
        }

        input:checked ~ .checkmark::after {
          display: block;
        }
      }

      button {
        width: 100%;
        height: 3rem;
        margin-top: 1rem;
        text-align: center;
        background: var(--accent);
        color: var(--background);
        border-radius: 5px;
        cursor: pointer;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: 100ms ease-in;

        &:hover {
          background: var(--dark-accent);
        }
      }
    }
  }

  .background {
    background: var(--accent);
    min-height: 100vh;
    width: calc(100% - 600px);
  }
}

@media screen and (max-width: 600px) {
  .page {
    .content {
      padding: 2rem;
    }

    .background {
      display: none;
    }
  }
}
