.page {
  padding: 3rem 7vw;
  width: 100%;
  min-height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;

  .sections {
    align-self: baseline;
    border-radius: 1rem;
    width: fit-content;
    margin-right: 3rem;
    border: 1px solid var(--line);

    .section {
      display: flex;
      background: var(--background-one);
      width: 300px;
      position: relative;
      cursor: pointer;
      padding: 1rem 1.25rem;
      overflow: hidden;
      transition: 100ms ease-in;

      &:first-child {
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
      }

      &:last-child {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }

      &:not(:last-child)::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--line);
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin-right: 1.25rem;
        color: var(--foreground-two);
        transition: 100ms ease-in;
      }

      .text {
        h2 {
          font-size: 1rem;
          font-weight: 600;
          color: var(--foreground-two);
          transition: 100ms ease-in;
        }

        h3 {
          font-size: 0.8rem;
          font-weight: 500;
          color: var(--foreground-two);
          transition: 100ms ease-in;
        }
      }

      .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        margin-left: auto;
        color: var(--foreground-two);
        transition: 100ms ease-in;
      }

      &:hover {
        background: var(--background-two);

        .icon,
        .text h2,
        .text h3,
        .arrow {
          color: var(--foreground-one);
        }
      }

      &.selected {
        .icon,
        .text h3,
        .text h2,
        .arrow {
          color: var(--foreground-one);
        }

        &::before {
          content: "";
          background: var(--foreground-one);
          height: 100%;
          width: 5px;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  .content {
    background: var(--background-one);
    border-radius: 1rem;
    border: 1px solid var(--line);
    width: 100%;
    max-width: 400px;
    height: fit-content;
    overflow: auto;
    padding: 2rem;

    .wrapper {
      &:not(:first-child) {
        margin-top: 2rem;
        padding-top: 1.5rem;
        border-top: 1px solid var(--line);
      }
    }

    .top_section {
      margin-bottom: 1rem;

      h2 {
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 0.2rem;
      }

      h3 {
        font-size: 0.9rem;
        font-weight: 500;
        color: var(--foreground-two);
      }
    }

    form {
      display: flex;
      flex-direction: column;

      .field {
        label {
          margin-bottom: 0.5rem;
          font-size: 0.8rem;
          font-weight: 600;
          text-transform: capitalize;
          display: inline-block;
        }

        input,
        textarea,
        .select_input {
          display: block;
          width: 100%;
          padding: 0.75rem 1.5rem;
          border-radius: 2rem;
          font-size: 0.8rem;
          font-weight: 500;
          color: var(--foreground-one);
          resize: none;
          background: var(--background-two);
        }

        textarea {
          padding: 1rem 1.5rem;
          border-radius: 1.5rem;
          scrollbar-width: none;

          &::-webkit-scrollbar {
            display: none;
          }
        }

        &:not(:last-of-type) {
          margin-bottom: 1rem;
        }

        .input_container {
          position: relative;
        }

        .select_container {
          position: relative;

          .select_input {
            cursor: pointer;

            &.no_items {
              cursor: not-allowed;
            }
          }

          .unselect {
            position: absolute;
            top: 50%;
            right: 1.5rem;
            transform: translateY(-50%);
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: var(--foreground-one);
            cursor: pointer;
            display: none;

            &.active {
              display: block;
            }

            &::before {
              content: "";
              position: absolute;
              top: 3.5px;
              bottom: 3.5px;
              left: 6.5px;
              width: 2px;
              transform: rotate(45deg);
              background: var(--background-two);
            }

            &::after {
              content: "";
              position: absolute;
              top: 3.5px;
              bottom: 3.5px;
              left: 6.5px;
              width: 2px;
              transform: rotate(-45deg);
              background: var(--background-two);
            }
          }

          .select_items {
            position: absolute;
            top: 3.25rem;
            left: 0;
            width: 100%;
            background: var(--background-two);
            border-radius: 1.5rem;
            font-size: 0.8rem;
            font-weight: 500;
            max-height: 150px;
            overflow: auto;
            scrollbar-width: none;

            &::-webkit-scrollbar {
              display: none;
            }

            .select_item {
              padding: 0.75rem 1.5rem;
              cursor: pointer;
              transition: 100ms ease-in;

              &:first-child {
                border-top-left-radius: 1.5rem;
                border-top-right-radius: 1.5rem;
              }

              &:last-child {
                border-bottom-left-radius: 1.5rem;
                border-bottom-right-radius: 1.5rem;
              }

              &:hover {
                background: var(--accent);
              }
            }
          }
        }

        .validity {
          position: absolute;
          top: 50%;
          right: 1.5rem;
          transform: translateY(-50%);
          width: 15px;
          height: 15px;
          border-radius: 50%;

          &.false {
            background: var(--error);

            &::before {
              content: "";
              position: absolute;
              top: 3.5px;
              bottom: 3.5px;
              left: 6.5px;
              width: 2px;
              transform: rotate(45deg);
              background: var(--background-two);
            }

            &::after {
              content: "";
              position: absolute;
              top: 3.5px;
              bottom: 3.5px;
              left: 6.5px;
              width: 2px;
              transform: rotate(-45deg);
              background: var(--background-two);
            }
          }

          &.true {
            background: var(--valid);

            &::before {
              content: "";
              position: absolute;
              top: 3.5px;
              left: 5.5px;
              transform: rotate(45deg);
              height: 7px;
              width: 4px;
              border-bottom: 2px solid var(--background-two);
              border-right: 2px solid var(--background-two);
            }
          }
        }
      }

      .file {
        input {
          display: none;
        }

        .container {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;

          label {
            background: var(--foreground-one);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            position: relative;
            margin-right: 1rem;
            cursor: pointer;
            transition: 100ms ease-in;

            &:hover {
              background: var(--accent);
            }

            &::before {
              content: "";
              background: var(--background-one);
              width: 15px;
              height: 3px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              border-radius: 2rem;
            }

            &::after {
              content: "";
              background: var(--background-one);
              width: 3px;
              height: 15px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              border-radius: 2rem;
            }

            &.extension {
              background: var(--valid);

              &::before,
              &::after {
                display: none;
              }

              span {
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 0.8rem;
                font-weight: 600;
                text-transform: uppercase;
                color: var(--background-one);
              }
            }

            &.error {
              background: var(--error);
            }
          }

          .details {
            h3 {
              font-size: 1rem;
              font-weight: 600;
              color: var(--foreground-one);
            }

            h4 {
              font-size: 0.8rem;
              font-weight: 500;
              color: var(--foreground-two);

              span {
                color: var(--error);
              }
            }
          }
        }
      }

      button {
        width: 100%;
        padding: 0.75rem 1.5rem;
        margin-top: 1rem;
        text-align: center;
        background: var(--foreground-one);
        color: var(--background-one);
        border-radius: 2rem;
        cursor: pointer;
        font-weight: 500;
        font-size: 0.8rem;
        text-transform: capitalize;
        transition: 100ms ease-in;

        &:hover {
          background: var(--accent);
        }
      }
    }

    .items {
      .item {
        background: var(--background-two);
        border-radius: 1.5rem;
        padding: 0.75rem 1.5rem;
        position: relative;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        .text {
          h3 {
            font-size: 1rem;
            font-weight: 600;
          }

          h4 {
            font-size: 0.8rem;
            font-weight: 500;
          }
        }

        .buttons {
          display: flex;
          position: absolute;
          top: 50%;
          right: 1.5rem;
          transform: translateY(-50%);

          .button {
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: 100ms ease-in;

            &:not(:last-child) {
              margin-right: 0.5rem;
            }

            &:first-child:hover {
              color: var(--accent);
            }

            &:last-child:hover {
              color: var(--error);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .page {
    justify-content: flex-start;
    flex-direction: column;
    position: relative;

    .sections {
      margin-right: 0;
      margin-bottom: 3rem;
      width: 100%;

      .section {
        width: 100%;
        max-width: unset;

        .arrow {
          display: none;
        }
      }
    }

    .content {
      max-width: unset;
    }
  }
}
