.header {
  width: var(--header-width);
  height: 100vh;
  background: var(--accent);
  color: var(--background-one);
}

// Media Queries
@media screen and (max-width: 940px) {
  .header {
    width: 100vw;
    height: var(--header-height);
  }
}
