:root {
  --foreground-one: #2a3537;
  --foreground-two: #7b7b7d;
  --background-one: #ffffff;
  --background-two: #f3f4f7;
  --line: #e5eaf0;

  --accent: #c49881;
  --dark-accent: #441aff;
  --valid: #01d5bb;
  --warning: #ffc900;
  --error: #ff716d;

  --header-height: 60px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
input,
select,
button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: var(--foreground-one);
}

input,
select,
button {
  border: none;
  outline: none;
  background: none;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
