.page {
  min-height: 100vh;
  padding: 2rem 1rem;
  background-color: var(--background-two);
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: min(375px, 100%);
    padding: 0 2rem;
    border-top: 6px solid var(--accent);
    border-radius: 0.25rem;
    background-color: var(--background-one);
    box-shadow: 0 1.5px 3px rgb(0 0 0 / 7%), 0 1.5px 3px rgb(0 0 0 / 9%);

    .wrapper {
      height: 60px;
      margin: 2rem 0;

      .logo {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }

    h1 {
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 1.5rem;
      color: var(--foreground-two);
      font-size: 1rem;
      text-align: center;
    }

    .form {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;

      .field {
        position: relative;
        width: 100%;
        height: 3.5rem;
        margin-bottom: 1rem;

        input {
          width: 100%;
          height: 100%;
          padding: 1.2rem 1rem 0;
          border: 1px solid #ddd;
          border-radius: 0.25rem;
          font-size: 1rem;
          font-weight: 500;

          &[name="password"] {
            padding-right: 3.25rem;
          }

          &:focus {
            border-color: var(--accent);
          }

          &:focus ~ label,
          &:not(:placeholder-shown) ~ label {
            transform: translateY(-138%);
            color: var(--foreground-two);
            font-size: 0.6rem;
          }

          &:focus ~ label {
            color: var(--accent);
          }
        }

        label {
          position: absolute;
          top: 50%;
          left: calc(1rem + 1px);
          transform: translateY(-50%);
          font-size: 1rem;
          font-weight: 600;
          text-transform: capitalize;
          pointer-events: none;
          user-select: none;
        }

        .show_button {
          position: absolute;
          top: 50%;
          right: calc(1rem + 1px);
          transform: translateY(-50%);
          font-size: 1.25rem;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: 100ms ease-in;

          &:hover {
            color: var(--accent);
          }
        }
      }

      button {
        height: 3.5rem;
        border-radius: 0.25rem;
        background: var(--accent);
        color: var(--background-one);
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        transition: 100ms ease-in;

        &:hover {
          background: var(--dark-accent);
        }

        &:disabled {
          cursor: not-allowed;
        }
      }

      h4 {
        margin-top: 1.5rem;
        color: var(--foreground-two);
        font-size: 0.8rem;
        font-weight: 400;
        text-align: center;

        a {
          color: var(--foreground-one);
          font-weight: 500;
          text-decoration: none;
          transition: 100ms ease-in;

          &:hover {
            color: var(--accent);
          }
        }
      }
    }

    .bottom_section {
      position: relative;
      left: -2rem;
      width: calc(100% + 4rem);
      display: flex;
      flex-direction: column;

      button {
        padding: 0.75rem;
        border-top: 1px solid #ddd;
        font-size: 0.8rem;
        font-weight: 400;
        cursor: pointer;
        transition: 100ms ease-in;

        &:hover {
          background-color: var(--background-two);
        }

        span {
          font-weight: 500;
        }

        a {
          color: var(--foreground-two);
          text-decoration: none;
        }
      }
    }
  }
}
