:root {
  --foreground-one: #1f2a35;
  --foreground-two: #374b5e;

  --background-one: #ffffff;
  --background-two: #f0f2f5;

  --accent: #34dca3;
  --dark-accent: #05aa76;
  --warning: orange;
  --error: red;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
input,
button {
  color: var(--foreground-one);
  font-family: "SimplonNorm", sans-serif;
  font-size: 16px;
  letter-spacing: 0.75px;
}

input,
button {
  background: none;
  border: none;
  outline: none;
}

input[type="password"] {
  font-family: sans-serif;
}

body {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

// SimplonNorm Fonts
@font-face {
  font-family: "SimplonNorm";
  font-weight: 300;
  font-style: normal;
  src: url("../public/fonts/SimplonNorm-Light.otf");
}

@font-face {
  font-family: "SimplonNorm";
  font-weight: 400;
  font-style: normal;
  src: url("../public/fonts/SimplonNorm-Regular.otf");
}

@font-face {
  font-family: "SimplonNorm";
  font-weight: 500;
  font-style: normal;
  src: url("../public/fonts/SimplonNorm-Medium.otf");
}

@font-face {
  font-family: "SimplonNorm";
  font-weight: 700;
  font-style: normal;
  src: url("../public/fonts/SimplonNorm-Bold.otf");
}
