:root {
  --foreground-one: #0e0e0e;
  --foreground-two: #939393;
  --background-one: #ffffff;
  --background-two: #f6f6f6;

  --accent: #2463eb;
  --valid: #01d5bb;
  --warning: #ffc900;
  --error: #ff716d;

  --header-width: 100px;
  --header-height: 65px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
input,
textarea,
button {
  color: var(--foreground-one);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

input,
textarea,
button {
  background: none;
  border: none;
  outline: none;
}

body {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

::selection {
  background: var(--accent);
  color: var(--background-one);
}

// Poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
